In [12]:
import numpy as np
import pandas as pd

In [13]:
df= pd.DataFrame(data=np.arange(0,50).reshape(5,10),index=['row1','row2','row3','row4','row5'],columns=['col1','col2','col3','col4','col5','col6','col7','col8','col9','col10'])

In [14]:
df

      col1  col2  col3  col4  col5  col6  col7  col8  col9  col10
row1     0     1     2     3     4     5     6     7     8      9
row2    10    11    12    13    14    15    16    17    18     19
row3    20    21    22    23    24    25    26    27    28     29
row4    30    31    32    33    34    35    36    37    38     39
row5    40    41    42    43    44    45    46    47    48     49

In [4]:
#df.to_csv('Test.csv')

In [15]:
df.loc['row1']

col1     0
col2     1
col3     2
col4     3
col5     4
col6     5
col7     6
col8     7
col9     8
col10    9
Name: row1, dtype: int32

In [16]:
df.iloc[:,1:].values

array([[ 1,  2,  3,  4,  5,  6,  7,  8,  9],
       [11, 12, 13, 14, 15, 16, 17, 18, 19],
       [21, 22, 23, 24, 25, 26, 27, 28, 29],
       [31, 32, 33, 34, 35, 36, 37, 38, 39],
       [41, 42, 43, 44, 45, 46, 47, 48, 49]])

In [17]:
df.isnull().sum()

col1     0
col2     0
col3     0
col4     0
col5     0
col6     0
col7     0
col8     0
col9     0
col10    0
dtype: int64

In [22]:
df['col1'].value_counts()

30    1
40    1
20    1
10    1
0     1
Name: col1, dtype: int64

In [23]:
df

      col1  col2  col3  col4  col5  col6  col7  col8  col9  col10
row1     0     1     2     3     4     5     6     7     8      9
row2    10    11    12    13    14    15    16    17    18     19
row3    20    21    22    23    24    25    26    27    28     29
row4    30    31    32    33    34    35    36    37    38     39
row5    40    41    42    43    44    45    46    47    48     49

In [24]:
df['col1'].unique()

array([ 0, 10, 20, 30, 40], dtype=int64)

In [26]:
df[['col1','col2']]

      col1  col2
row1     0     1
row2    10    11
row3    20    21
row4    30    31
row5    40    41